h1 {
  color: green;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}



.blog {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.blog h3 {
  margin-top: 0;
}

.blog p {
  margin: 5px 0;
}

.notification {
  padding: 1rem;
  margin-bottom: 1rem;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.info {
  background-color: #cce5ff;
  border: 1px solid #b8daff;
  color: #004085;
}

.warning {
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  color: #856404;
}

.success {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}

/* Optionally, you can add more styles as needed */
